html {
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
  /*background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/background.png?raw=true') no-repeat center center fixed;
  */
 background: url('https://i.ibb.co/56bbWLj/troll-jpg.jpg') no-repeat center center fixed;  
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  z-index:0;
  overflow: hidden;
  border: 6px solid rgb(53, 10, 228)
}

body {
  font-family: Trattatello;
}

h1 {  
  text-align: center;
  font-size: 84px;
  color: rgb(53, 10, 228);
  -webkit-text-stroke: 2px black;
  margin: 0;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 36px;
  color: rgb(221, 37, 13);
  -webkit-text-stroke: 1px black;
}

h3 {  
  margin: 0;
  text-align: right;
  font-size: 36px;
  color: rgb(46, 10, 209);
  -webkit-text-stroke: 1px black;
}

h4 {
  margin: 0;
  text-align: left;
  font-size: 36px;
  color: rgb(46, 10, 209);
  -webkit-text-stroke: 1px black;
}

#difficultySelector {
    margin: 5px;
    font-size: 18px;
    background-color: rgb(46, 10, 209);
    color: rgb(221, 37, 13);
}

.gamePlay {
  display: flex;
  justify-content:space-between;
  padding-top: 40px;
  

}

#start {
  font-family: Trattatello;
  text-align: center;
  font-size: 36px;
  -webkit-text-stroke: 1px black;
}

#score {
  color: rgb(221, 37, 13);
  text-decoration: underline rgb(46, 10, 209);
  -webkit-text-stroke: 1px black;
}

#timer {
  color: rgb(148, 149, 202);
  text-decoration: underline rgb(46, 10, 209);
  -webkit-text-stroke: 1px black;
}

.grid {
  max-width: 100%;
  width: 100%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /*cursor: url('./assets/mallet.png'), pointer;*/
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  /*background: url("./assets/hole.png") bottom center no-repeat;*/
  background: url("https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/hole.png?raw=true") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events: none;

}

.mole {
  /*background:url('./assets/mole.png') bottom center no-repeat;*/
 /* background:url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/mole.png?raw=true') bottom center no-repeat;*/
  

  background:url("https://i.ibb.co/3skdh7g/fish.jpg") bottom center no-repeat; 
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*transition: transform 0.5s;*/
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  /*transform: scale(1.1);*/
}

footer {
  text-align: center;
  padding: 15px;
}

button {
  background-color: rgb(46, 10, 209);
  color: rgb(221, 37, 13);
  font-size: large;
}


